---
layout: 404
permalink: /404.html
---

<script>
  function getRandomImage() {
    var images = [
      "/image/404/1.gif",
      "/image/404/2.gif",
      "/image/404/3.gif",
      "/image/404/4.gif",
      "/image/404/5.gif",
      "/image/404/6.gif",
      "/image/404/7.gif",
      "/image/404/8.gif",
      "/image/404/9.gif",
      "/image/404/10.gif",
      "/image/404/11.gif",
      "/image/404/12.gif",
      "/image/404/13.gif",
      "/image/404/14.gif",
      "/image/404/15.gif",
      "/image/404/16.gif",
      "/image/404/17.gif"
    ];
    return images[Math.floor(Math.random() * 17)];
  }

  function getRandomVideo() {
    var videos = [
      "https://media.giphy.com/media/g01ZnwAUvutuK8GIQn/giphy.mp4", //travolta
      "https://media.giphy.com/media/D3lRpp7jQietO/giphy.mp4", //britney
      "https://media.giphy.com/media/RBeddeaQ5Xo0E/giphy.mp4", // judge judy
      "https://media.giphy.com/media/O5pd2oPjjcGFW/giphy.mp4", // cat
      "https://media.giphy.com/media/3og0INyCmHlNylks9O/giphy.mp4", // picard
      "https://media.giphy.com/media/27EhcDHnlkw1O/giphy.mp4", // face palm montage
      "https://media.giphy.com/media/Ra1bmpxpsppNC/giphy.mp4", // loaded weapon face palm
      "https://media.giphy.com/media/CPskAi4C6WLHa/giphy.mp4", // confused girl 2
      "https://media.giphy.com/media/5t9wJjyHAOxvnxcPNk/giphy.mp4", //jeff goldblum
      "https://media.giphy.com/media/3oxRmGNqKwCzJ0AwPC/giphy.mp4", //hiker slip
      "https://media.giphy.com/media/Ub8XEam5vXbMY/giphy.mp4", // pig fall
      "https://media.giphy.com/media/mWk4TlR5h6Qda/giphy.mp4", // chair fall
      "https://media.giphy.com/media/oHxeimsHezGwM/giphy.mp4", // frog miss
      "https://media.giphy.com/media/aQAOVgpDLuaLm/giphy.mp4" // fake door
    ];
    return videos[Math.floor(Math.random() * 14)];
  }

  if ($(window).width() < 768) {
    $(document).ready(function () {
      $("#404-gif").attr('src', getRandomImage());
    });
  }
  else {
    $(document).ready(function () {
      $("#404-vid").attr('src', getRandomVideo());
    });
  }

</script>

<section class="404 containter h-screen w-screen flex items-center justify-center text-center px-4 -mt-4 md:-mt-8">
  <div class="text-02 max-w-sm w-full">
    <img class="w-full block md:hidden" id="404-gif" src="" alt="404">
    <video class="w-full pointer-events-none hidden md:block" id="404-vid" src="" autoplay="" muted="" loop=""></video>
    <h2 class="text-2xl lg:text-3xl mt-4 mb-3 glitch" data-text="Page not found!">Page not found!</h2>
    <div class="text-02 text-lg lg:text-xl mt-3 mb-8">It's probably best to head <a class="" href="/">home</a>.</div>
  </div>
</section>