---
layout: default
---

{% include wip.html %}


<div id="about-page" class="container text-02 max-w-xl mx-auto px-5 md:px-16 pt-12 md:pt-8">

  <section id="intro" class="mb-24 md:mt-16 md:mb-40">

    <h4 class="text-04 uppercase font-semibold mt-5 mb-8 lg:mb-12 glitch" data-text="00 — About">00 — About</h4>

    <p class="text-2xl lg:text-4xl my-8 md:my-10">
      I am currently Head of Design at <a href="https://jobadder.com/" target="_blank" rel="noopener" class="glitch" data-text="JobAdder,">JobAdder</a>,
      working out of the HQ in Sydney, Australia, designing useful tools for recruiters.
    </p>
    <p class="text-02 text-lg lg:text-xl mt-3 mb-8">
      With 10+ years experience designing across responsive web, iOS, Android & MacOS apps. UX, UI & problem solving is
      central to everything I do. Synthesising the needs and goals of users, product managers, marketing, developers and
      testers to ensure the best possible experience.
    </p>

  </section>

  <section id="vision" class="mb-24 md:mt-16 md:mb-40">
      <h4 class="text-04 uppercase font-semibold mt-5 mb-8 lg:mb-12 glitch" data-text="01 — Vision">01 — Vision</h4>
      <p class="text-02 text-lg lg:text-xl mt-3 mb-8">
        I want to work on meaningful and valuable products that do good, for man, nature and the planet. I want to dedicate my skills, experience and knowledge to projects and people who want to <mark>make this world a better place</mark>.
      </p>
  </section>

  <section id="social" class="mb-24 md:mt-16 md:mb-40">
    <h4 class="text-04 uppercase font-semibold mt-5 mb-8 lg:mb-12 glitch" data-text="02 — Social">02 — Social</h4>

    <p class="text-02 text-lg lg:text-xl mt-1 mb-6 flex flex-wrap">
      <a href="https://twitter.com/BrodyMaclean" class="flex items-center text-02 hover:text-primary-01 py-2 w-1/2 md:w-1/3 shadow-none relative">
          <svg class="h-4 w-4 mr-4 inline-block fill-current" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path data-v-0381b410="" d="M32.1 3.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6C25.8.8 24.1 0 22.3 0c-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.6-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1C3 24.9 6.5 26 10.2 26c12.1 0 18.7-10 18.7-18.7v-.8c1.2-1 2.3-2.1 3.2-3.4z"></path>
          </svg>
          Twitter
      </a>
      <a href="https://instagram.com/Brody" class="flex items-center text-02 hover:text-primary-01 py-2 w-1/2 md:w-1/3 shadow-none relative">
          <svg class="h-4 w-4 mr-4 inline-block fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
              <path d="M11.233 0A4.772 4.772 0 0 1 16 4.766v6.467A4.772 4.772 0 0 1 11.234 16H4.767A4.772 4.772 0 0 1 0 11.234V4.767A4.772 4.772 0 0 1 4.766 0h6.467zm3.158 11.233V4.767a3.158 3.158 0 0 0-3.157-3.158H4.767a3.158 3.158 0 0 0-3.158 3.157v6.467a3.158 3.158 0 0 0 3.157 3.158h6.467a3.158 3.158 0 0 0 3.158-3.158zM8 3.862A4.144 4.144 0 0 1 12.139 8 4.143 4.143 0 0 1 8 12.138 4.143 4.143 0 0 1 3.863 8 4.143 4.143 0 0 1 8 3.862zm0 6.667a2.528 2.528 0 1 0 0-5.057 2.528 2.528 0 0 0 0 5.057zm4.146-5.644a.991.991 0 1 1 0-1.983.991.991 0 0 1 0 1.983z" />
          </svg>
          Instagram
      </a>
      <a href="https://www.linkedin.com/in/BrodyMaclean/" class="flex items-center text-02 hover:text-primary-01 py-2 w-1/2 md:w-1/3 shadow-none relative">
          <svg class="h-4 w-4 mr-4 inline-block fill-current" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 9.374v5.915h-3.43v-5.52c0-1.386-.496-2.332-1.737-2.332-.947 0-1.511.638-1.76 1.254-.09.22-.113.528-.113.837v5.76H5.529s.046-9.346 0-10.315H8.96v1.462l-.022.033h.022v-.033c.455-.702 1.269-1.704 3.091-1.704C14.308 4.73 16 6.206 16 9.373zM1.94 0C.769 0 0 .77 0 1.782c0 .99.746 1.783 1.896 1.783h.022c1.197 0 1.94-.793 1.94-1.783C3.838.77 3.116 0 1.942 0H1.94zM.205 15.289h3.429V4.973H.203v10.316z" />
          </svg>
          LinkedIn
      </a>
      <a href="https://codepen.io/Brody" class="flex items-center text-02 hover:text-primary-01 py-2 w-1/2 md:w-1/3 shadow-none relative">
          <svg class="h-4 w-4 mr-4 inline-block fill-current" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path data-v-0381b410="" d="M31.9 10.925v-.2-.2-.2-.1s0-.1-.1-.1v-.1s0-.1-.1-.1l-.1-.1s-.1 0-.1-.1h-.1L16.7.225c-.5-.3-1.1-.3-1.5 0l-14.7 9.8H.4s-.1 0-.1.1l-.1.1-.1.1v.1s0 .1-.1.1V22.025s0 .1.1.1v.1s0 .1.1.1l.1.1s.1 0 .1.1h.1l14.6 9.8c.2.2.5.2.8.2.3 0 .5-.1.8-.2l14.6-10.3h.1s.1 0 .1-.1l.1-.1.1-.1v-.1s0-.1.1-.1v-.2-.2-.2-.1V10.925c.1.2.1.1.1 0zm-14.6-7l10.8 7.2-4.8 3.2-6-4v-6.4zm-2.8 0v6.4l-6 4-4.8-3.2 10.8-7.2zm-11.8 9.8l3.4 2.3-3.4 2.3v-4.6zm11.8 14.4l-10.7-7.2 4.8-3.2 6 4v6.4h-.1zm1.4-8.8l-4.9-3.3 4.9-3.3 4.9 3.3-4.9 3.3zm1.4 8.8v-6.4l6-4 4.8 3.2-10.8 7.2zm11.8-9.8l-3.4-2.3 3.4-2.3v4.6z"></path>
          </svg>
          Codepen
      </a>
      <a href="https://github.com/Brody" class="flex items-center text-02 hover:text-primary-01 py-2 w-1/2 md:w-1/3 shadow-none relative">
          <svg class="h-4 w-4 mr-4 inline-block fill-current" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path data-v-0381b410="" fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.2 0 0 7.2 0 16c0 7.1 4.6 13.1 10.9 15.2.8.1 1.1-.3 1.1-.8v-2.7c-4.5 1-5.4-2.1-5.4-2.1-.7-1.8-1.8-2.3-1.8-2.3-1.5-1 .1-1 .1-1 1.6.1 2.5 1.6 2.5 1.6 1.4 2.4 3.7 1.7 4.7 1.3.1-1 .6-1.7 1-2.1-3.6-.4-7.3-1.8-7.3-7.9 0-1.7.6-3.2 1.6-4.3-.2-.4-.7-2 .2-4.2 0 0 1.3-.4 4.4 1.6 1.3-.4 2.6-.5 4-.5s2.7.2 4 .5c3.1-2.1 4.4-1.7 4.4-1.7.9 2.2.3 3.8.2 4.2 1 1.1 1.6 2.5 1.6 4.3 0 6.1-3.7 7.5-7.3 7.9.6.5 1.1 1.5 1.1 3v4.4c0 .4.3.9 1.1.8C27.4 29.1 32 23.1 32 16c0-8.8-7.2-16-16-16z"></path>
          </svg>
          Github
      </a>
      <a href="mailto:hello@brody.com" class="flex items-center text-02 hover:text-primary-01 py-2 w-1/2 md:w-1/3 shadow-none relative">
          <svg class="h-4 w-4 mr-4 inline-block fill-current" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.878 3.571l4.598 4.023a.808.808 0 0 0 1.064 0l4.598-4.023H2.878zm11.522 1L9.605 8.769a2.425 2.425 0 0 1-1.597.598 2.425 2.425 0 0 1-1.597-.598L1.6 4.557v6.872h12.8V4.572zM1.6 2h12.8c.424 0 .831.166 1.131.46.3.295.469.695.469 1.111v7.858c0 .416-.169.816-.469 1.11-.3.295-.707.461-1.131.461H1.6c-.424 0-.831-.166-1.131-.46A1.557 1.557 0 0 1 0 11.429V3.57c0-.416.169-.816.469-1.11C.769 2.165 1.176 2 1.6 2z" />
          </svg>
          Email
      </a>

    </p>
  </section>


  <section id="goodreads" class="max-w-md mb-24 md:mb-40">

    <h4 class="text-04 uppercase font-semibold mt-5 mb-8 lg:mb-12 glitch" data-text="03 — Currently reading">03 — Currently reading</h4>

    <div id="gr_custom_widget_1532863785" class="goodreads text-lg lg:text-xl">
      <div class="gr_custom_container_1532863785">

        <div class="gr_custom_each_container_1532863785">
          <div class="gr_custom_book_container_1532863785">
            <a title="Ready Player One" rel="nofollow" href="#"><img alt="Ready Player One" border="0"
                src="https://images.gr-assets.com/books/1500930947m/9969571.jpg" /></a>
          </div>
          <div class="gr_custom_title_1532863785">
            <a rel="nofollow" href="#">Ready Player One</a>
          </div>
          <div class="gr_custom_author_1532863785">
            by <a rel="nofollow" href="#">Ernest Cline</a>
          </div>
        </div>

        <noscript>
          Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Brody, and even
          join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
        </noscript>
      </div>
    </div>

  </section>


  <section class="lastfm mb-24 md:mb-40">

    <h4 class="text-04 uppercase font-semibold mt-5 mb-8 lg:mb-12 glitch" data-text="04 — Music Spinning">04 — Music Spinning</h4>

    <div id="lastfm" class="mb5 text-lg lg:text-xl max-w-md">

      <h4 class="text-03 font-semibold mt-2 mb-5 lg:mb-10 glitch" data-text="Recent Tracks">Recent Tracks</h4>
      <div id="lastFM-recent-tracks" class="mb-6 lg:mb-8 lg:h-640">
        <ul class="list-reset pl-0"> </ul>
      </div>

      <h4 class="text-03 font-semibold mt-2 mb-5 lg:mb-10 glitch" data-text="Top Artists">Top Artists <span class="ml-2 opacity-50">Last 30 Days</span></h4>
      <div id="lastFM-top-artists" class="mb-6 lg:mb-8 lg:h-640">
        <ul class="list-reset pl0"></ul>
      </div>

      <div class="flex flex-wrap">
          <a href="https://open.spotify.com/user/brodymaclean" target="_blank"
            class="button fill-current shadow-none button--spotify">
            <svg height="24" preserveAspectRatio="xMinYMin" viewBox="-2 -2 24 24" width="24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="m9.992 0c-5.518 0-9.992 4.474-9.992 9.992s4.474 9.992 9.992 9.992 9.992-4.474 9.992-9.992-4.474-9.992-9.992-9.992zm4.348 15.683c-.127.329-.355.512-.59.512a.518.518 0 0 1 -.344-.141c-1.796-1.588-3.87-1.843-5.294-1.778-1.578.073-2.735.544-2.747.549-.363.15-.74-.174-.839-.724-.1-.55.114-1.119.477-1.27.052-.022 1.297-.534 3.029-.62a8.939 8.939 0 0 1 2.917.32 8.09 8.09 0 0 1 3.146 1.737c.326.289.436.922.245 1.415zm1.27-3.063c-.15.329-.42.512-.699.512a.677.677 0 0 1 -.407-.141c-2.127-1.588-4.584-1.843-6.271-1.778-1.87.073-3.24.544-3.253.549-.431.15-.876-.174-.995-.724-.118-.55.135-1.119.566-1.27.061-.022 1.536-.534 3.587-.62 1.208-.051 2.37.057 3.456.32 1.374.333 2.628.917 3.726 1.737.386.288.516.922.29 1.415zm.782-2.996a.958.958 0 0 1 -.5-.142c-5.057-3.078-11.616-1.248-11.682-1.23-.528.153-1.075-.17-1.22-.721-.146-.551.165-1.12.693-1.272.076-.022 1.885-.534 4.4-.62a18.63 18.63 0 0 1 4.24.32c1.686.333 3.223.917 4.57 1.738.474.288.633.921.357 1.414a.985.985 0 0 1 -.858.513z" />
            </svg>
            <span>Follow on Spotify</span>
          </a>
  
          <a href="https://soundcloud.com/brodymaclean" target="_blank"
            class="button fill-current shadow-none button--soundcloud">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -7.5 24 24" width="24" height="24"
              preserveAspectRatio="xMinYMin">
              <path
                d='M19.982 6.362c-.08-1.218-1.032-2.196-2.194-2.255a2.22 2.22 0 0 0-1.222.292C16.518 1.974 14.632.023 12.311.023c-.615 0-1.198.137-1.725.382a.332.332 0 0 0-.186.303v7.925c0 .183.142.332.316.332h6.957c1.333 0 2.402-1.183 2.31-2.603zM9.785.536a.326.326 0 0 0-.318.334v7.752c0 .184.142.334.318.334.175 0 .318-.15.318-.334V.87a.326.326 0 0 0-.318-.334zM8.733 1.36a.326.326 0 0 0-.318.334v6.928c0 .184.143.334.318.334.176 0 .318-.15.318-.334V1.694a.326.326 0 0 0-.318-.334zM7.681 1.736a.326.326 0 0 0-.318.334v6.552c0 .184.143.334.318.334.176 0 .318-.15.318-.334V2.07a.326.326 0 0 0-.318-.334zM6.63 1.235a.326.326 0 0 0-.319.334v7.053c0 .184.143.334.318.334.176 0 .318-.15.318-.334V1.57a.326.326 0 0 0-.318-.334zM5.577 1.569a.326.326 0 0 0-.318.334v6.72c0 .183.143.333.318.333.176 0 .318-.15.318-.334v-6.72a.326.326 0 0 0-.318-.333zM4.525 2.237a.326.326 0 0 0-.317.334v6.051c0 .184.142.334.317.334.176 0 .318-.15.318-.334V2.571a.326.326 0 0 0-.318-.334zM3.474 3.53a.326.326 0 0 0-.318.334v4.758c0 .184.142.334.318.334.175 0 .317-.15.317-.334V3.864a.326.326 0 0 0-.317-.333zM2.422 4.073a.326.326 0 0 0-.318.334v4.215c0 .184.142.334.318.334.175 0 .318-.15.318-.334V4.407a.326.326 0 0 0-.318-.334zM1.37 4.198a.326.326 0 0 0-.318.333v3.967c0 .184.142.333.318.333.175 0 .318-.15.318-.333V4.53a.326.326 0 0 0-.318-.333zM.318 5.07A.326.326 0 0 0 0 5.402v2.285c0 .185.142.334.318.334.175 0 .318-.15.318-.334V5.403a.326.326 0 0 0-.318-.334z' />
            </svg>
            <span>Follow on Soundcloud</span>
          </a>
        </div>

    </div>

  </section>

</div>




<!-- Scripts -->

<script
  src="https://www.goodreads.com/review/custom_widget/1073529.Brody's%20bookshelf:%20currently-reading?cover_position=left&cover_size=medium&num_books=5&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=none&widget_id=1532863785&widget_text_color=000000&widget_title_size=medium&widget_width=full"
  type="text/javascript" charset="utf-8"></script>