---
layout: default
---

{% include wip.html %}

<div id="home-page" class="container text-02 max-w-xl mx-auto px-5 md:px-16 pt-12 md:pt-8">

  <section id="intro" class="mb-24 md:mt-16 md:mb-40">

    <h4 class="glitch text-04 uppercase font-semibold mt-5 mb-8 lg:mb-12" data-text="00 — Intro">00 — Intro</h4>

    <p class="text-2xl lg:text-4xl my-12 md:my-10">
      Hey, nice to meet you. <span class="mr-2">👋</span> My name is <br class="hidden lg:inline"><span
        class="text-primary-01 glitch" data-text="Brody MacLean">Brody MacLean</span>
      — a lead product designer building useful tools for recruiters at <a href="https://jobadder.com/" class="glitch"
        target="_blank" rel="noopener" data-text="JobAdder.">JobAdder</a>.
    </p>

  </section>

  <section id="journal" class="mb-24 md:mb-40">

    <h4 class="glitch text-04 uppercase font-semibold mt-5 mb-8 lg:mb-12 " data-text="01 — Journal">01 — Journal</h4>

    {% for post in site.categories.journal limit:5 %}

    <div class="journal-item max-w-md my-12 md:my-10 lg:my-16">
      <a href="{{ post.url }}" class=" glitch text-2xl lg:text-3xl my-8"
        data-text="{{ post.title }}">{{ post.title }}</a>
      <time class="text-04 block uppercase font-semibold mt-3 mb-3"
        datetime="{{ post.date | date: " %Y-%m-%d " }}">{{ post.date | date: "%-d %B %Y" }}</time>
      <p class="text-02 text-lg lg:text-xl mt-3 mb-8">{{ post.description }}</p>
    </div>

    {% endfor %}

  </section>

  <section id="work" class="mb-24 md:mb-40">

    <h4 class="glitch text-04 text-base uppercase font-semibold mt-5 mb-8 lg:mb-12" data-text="02 — Work">02 — Work</h4>

    
    <a href="/work/jobadder" id="jobadder" class="h-64 md:h-80 px-3 bn my-12 md:my-10 relative flex justify-center items-center no-underline rounded overflow-hidden shadow-none max-w-md" style="background-color: #1971C2;">

      <svg class="work-logo fill-current text-white w-1/3 sm:w-1/4 md:w-1/4 -mt-4 md:-mt-2" viewBox="0 0 40 40"
        xmlns="http://www.w3.org/2000/svg">
        <g fill-rule="evenodd">
          <path d="m20 40c11.046 0 20-8.954 20-20s-8.954-20-20-20-20 8.954-20 20 8.954 20 20 20" fill="none"></path>
          <path
            d="m11.1290178 37.9049314c-.4757418-.236182-.9423553-.4869534-1.3967972-.7565746-.20934241-.124016-.41617167-.2520334-.6202206-.3845568l.00729896.0041201c-.00226667-.0014728-.00453299-.0029462-.00679896-.0044201-.703-1.709-1.45-3.465-2.176-5.167l-.93-2.179c-1.676-3.95-2.446-6.492-2.655-8.769-.266-2.871.386-5.329 2.054-7.733.442-.638.948-1.263 1.547-1.914.543-.585 1.12-1.121 1.72-1.592.963-2.861 3.438-4.817 6.174-4.817.816 0 1.62.17 2.373.496.929-.698 2.024-1.075 3.178-1.075 2.943 0 5.369 2.516 5.652 5.722 2.691 1.326 4.788 2.78 5.911 3.754 2.603 2.259 2.898 4.133 2.358 6.324.279-.189.618-.298.986-.298.772.019 1.422.556 1.584 1.309.125.582.135 1.208.019 1.792-.084.413-.237.831-.488 1.174-.21.285-.488.483-.525.85-.069.686-.417 1.674-1.694 2.492-.267.172-.577.263-.897.263-.468 0-.919-.199-1.236-.551-.472-.526-.553-1.271-.254-1.848-.461-.152-1.001-.304-1.611-.456l-.219.172c-.283.463-.613.864-1 1.215-1.529 1.386-3.644 2.061-6.465 2.061-.156 0-.314-.003-.476-.007-1.804-.047-3.376-.257-4.804-.641-.16-.042-.313-.082-.459-.12.02.05.042.103.064.157.621 1.472 1.625 3.66 2.801 6.226.459.998.937 2.04 1.418 3.098.537 1.179.968 2.201 1.327 3.142-.503.061-1.015.091-1.528.113-.316-.799-.686-1.665-1.135-2.649-.487-1.069-.97-2.123-1.433-3.129-1.167-2.547-2.176-4.745-2.803-6.234-.242-.575-.414-1.014-.509-1.304-.187-.557-.41-1.009-.605-1.373.662.065 1.713.248 3.244.66 1.315.353 2.774.546 4.462.59 2.451.064 5.476-.405 6.772-2.782l.996-.78c.824.184 1.73.416 2.52.68.607.205.97.494 1.079.861.16.544-.291 1.118-.294 1.124-.248.328.281.266.451.172.434-.239.779-.814.828-1.296.041-.422-.115-.791-.272-1.046.39-.002.697-.143.919-.372.247-.255.39-.621.425-1.02.021-.232.084-.835-.099-1.011-.106-.098-.284-.091-.327.075-.172.646-.529.981-1.191 1.071-.95.129-1.918.01-2.853-.17.76-.597 1.453-1.142 1.736-2.107.598-2.044.484-3.361-1.774-5.322-1.154-1.001-3.468-2.574-6.399-3.927.006-.102.009-.205.009-.307 0-2.692-1.889-4.882-4.211-4.882-1.132 0-2.186.519-2.958 1.399-.776-.531-1.669-.82-2.593-.82-2.258 0-4.251 1.751-4.907 4.233-.67.484-1.31 1.057-1.908 1.705-.552.599-1.016 1.171-1.42 1.752-1.459 2.106-2.03 4.257-1.8 6.767.196 2.116.934 4.529 2.547 8.332.316.746.638 1.495.956 2.242.988 2.314 1.981 4.648 2.852 6.835-.0000844-.0000417-.0001689-.0000835-.0002533-.0001252l.0007533.0004252c-.0126671-.0062799-.0253279-.0125694-.0379822-.0188686zm10.8904822-27.9908314c-.835-.292-1.791-.584-2.833-.847-.236-.531-.518-.965-.819-1.323.515-.548 1.172-.901 1.905-.901 1.595 0 2.892 1.562 2.932 3.51-.363-.143-.759-.29-1.185-.439zm-5.3582 25.0012c.466 1.015.953 2.076 1.443 3.156.311.684.575 1.293.817 1.874-.996-.053-1.98-.154-2.933-.349-.387-.936-.979-1.777-1.811-2.401-.704-.531-1.298-.912-1.626-1.777-.855-2.259.184-4.396-.565-6.075-.748-1.681-2.309-1.434-3.203-2.838s-.207-4.212-.023-5.335c-.067-1.113-.922-1.364-1.424-2.232-1.211-2.095.797-4.469 2.136-5.919.468-.507.941-.935 1.408-1.297.023-.303.068-.599.136-.883.408-1.728 1.795-3.418 3.704-3.418 1.612 0 2.906 1.243 3.494 2.731.399.092.869.211 1.4.363.683.195 1.462.446 2.315.765 2.881 1.078 5.739 2.451 8.053 4.508.527.47 1.132.986 1.357 1.68.17.526.037 1.049-.116 1.562-.377 1.276-1.677 2.123-2.97 2.244-1.672.158-3.357.018-5.007-.271-1.487-.259-2.958-.647-4.263-1.424-.465-.275-.899-.571-1.305-.858-1.018-.719-2.598-1.66-3.59-.336-.07.093-.509.84-.132.805.145-.015.401-.32.524-.397.872-.547 1.581.026 2.211.633.305.294.629.569.968.823 2.503 1.863 5.829 2.461 8.893 2.364.305-.01.6-.03.886-.061-.413.823-1.216 1.213-2.045 1.521-1.242.461-2.601.422-3.901.343-1.098-.067-2.193-.208-3.256-.494-1.111-.299-2.238-.568-3.383-.7-1.367-.156-2.136 0-2.497.506-.499.697-.112 1.382.228 1.987.8 1.42 1.328 3.006 1.975 4.501.683 1.574 1.386 3.14 2.102 4.699zm-4.173-23.676c-.085.29-.133.599-.133.924 0 1.508.995 2.731 2.22 2.731 1.227 0 2.221-1.223 2.221-2.731 0-.958-.402-1.799-1.01-2.286-.348-.28-.764-.444-1.211-.444-.522 0-1.001.224-1.379.595.183.013.351.09.477.211.149.142.243.342.243.563 0 .431-.349.781-.781.781-.268 0-.507-.137-.647-.344zm14.252 7.709c-.237.075-.359.302-.335.543.026.267.177.498.389.663.384.3.871.32 1.086.045.217-.275.079-.741-.306-1.042-.224-.175-.549-.3-.834-.209zm2.122-2.144c-.207.044-.353.217-.329.431.023.208.154.422.318.551.307.239.698.255.869.036.188-.241.027-.579-.163-.763-.176-.173-.443-.309-.695-.255z"
            fill="#fffffe"></path>
        </g>
      </svg>

      <div class="absolute pin-b pin-l py-4 px-2 md:py-6 md:px-4">
        <h1 class="glitch mx-4 text-white font-normal text-2xl lg:text-3xl inline relative" data-text="JobAdder">
          JobAdder</h1>
        <p class="mx-4 text-white font-semibold uppercase opacity-50 text-sm md:text-base">Case Study</p>
      </div>

    </a>


    <a href="/work/vivid" id="vivid"
      class="h-64 md:h-80 px-3 bn my-12 md:my-10 relative flex justify-center items-center no-underline rounded overflow-hidden shadow-none max-w-md"
      style="background-image: linear-gradient(-135deg, #24204A 0%, #17142F 100%);">

      <svg class="work-logo fill-current text-white w-1/2 sm:w-1/3 md:w-1/3 -mt-6 md:-mt-4" viewBox="0 0 200 65"
        xmlns="http://www.w3.org/2000/svg">
        <g fill-rule="evenodd" transform="">
          <path d="m63.4463214.75856237h.976649v6.19712473h3.5330867v.89790698h-4.5097357z"></path>
          <path d="m68.9438372 7.85359408h.967167v-7.09503171h-.967167z"></path>
          <path
            d="m74.3815751 8.05106765c-1.8749683 0-3.2271882-1.45075053-3.2271882-3.73014799 0-2.31897463 1.322537-3.74952431 3.4341438-3.74952431 1.6185412 0 2.6941331.8682241 2.901501 2.32845666h-.9374841c-.177685-.95686047-.888425-1.49980973-1.9640169-1.49980973-1.5393869 0-2.4372939 1.04590909-2.4372939 2.88171248 0 1.84528541.9176955 2.8911945 2.3680338 2.8911945 1.322537 0 2.2006554-.85874207 2.2006554-2.26002114 0-.02927061 0-.05895349 0-.08863637h-2.2200317v-.79937632h3.1084567v3.82867865h-.6315857l-.2073678-.94737844c-.5722199.76021142-1.3715962 1.14485201-2.3878224 1.14485201">
          </path>
          <path
            d="m78.8039112.75856237h.9667548v2.91098308h3.6806765v-2.91098308h.9675793v7.09503171h-.9675793v-3.32530655h-3.6806765v3.32530655h-.9667548z">
          </path>
          <path d="m87.7063002 1.61730444h-2.2398203v-.85874207h5.4472199v.85874207h-2.2406448v6.23628964h-.9667548z">
          </path>
          <path
            d="m90.4507294 6.78789641h.9865433v1.1547463c0 .72022198-.35537 1.21369978-.9865433 1.37159619v-.4934778c.2960042-.05895349.4831712-.34547569.4831712-.81916491v-.14800211h-.4831712z">
          </path>
          <path
            d="m96.6486786 7.85359408h-.8884249v-7.09503171h1.3814905l1.756649 5.42743129c.0791544.23663848.1381079.42463002.1677907.58252642.0494715-.21726215.0989429-.40484143.1578964-.58252642l1.8254967-5.42743129h1.381491v7.09503171h-.937072v-6.04871036c-.049472.23663848-.10925.44359408-.167791.62127907l-1.8254968 5.42743129h-.9082135l-1.7859196-5.42743129c-.0688478-.19706131-.1187315-.40442917-.1578965-.62127907z">
          </path>
          <path
            d="m103.715677.75856237h.967579v4.41079281c0 1.322537.561913 1.95412262 1.80612 1.95412262 1.22277 0 1.815191-.64147991 1.815191-1.95412262v-4.41079281h.967579v4.40089852c0 1.90465116-.99685 2.89160676-2.892019 2.89160676-1.775613 0-2.66445-.96716702-2.66445-2.89160676z">
          </path>
          <path
            d="m111.157008 5.51524313c.020201 1.0360148.740011 1.68738901 1.845698 1.68738901 1.124651 0 1.776026-.51326639 1.776026-1.29285413 0-.84884778-.660444-.96716702-1.943817-1.27306554-1.569069-.3747463-2.377928-.72022198-2.377928-1.96360465 0-1.24338266.976649-2.10171247 2.535413-2.10171247 1.569069 0 2.526342.85832981 2.536649 2.26909091h-.918108c-.068436-.94696618-.670338-1.47012685-1.677083-1.47012685-.967167 0-1.559175.46379492-1.559175 1.13495771 0 .90780127.660856.96675476 2.150772 1.32212474.690951.1677907 1.2339.28610994 1.628435.62169133.375159.31579281.582114.77958774.582114 1.35180761 0 1.35221988-1.02612 2.24023256-2.723404 2.24023256-1.717484 0-2.713921-.89790698-2.782769-2.52593023z">
          </path>
          <path d="m116.754292 7.85359408h.967167v-7.09503171h-.967167z"></path>
          <path
            d="m124.975211 5.2192389c-.089048 1.72655391-1.273477 2.83182875-3.010338 2.83182875-1.973499 0-3.197505-1.41117336-3.197505-3.84846723 0-2.22044397 1.273478-3.63120507 3.296448-3.63120507 1.618541 0 2.704028.89749471 2.861924 2.31897463h-.947378c-.177685-.93748414-.878531-1.46064482-1.954123-1.46064482-1.430962 0-2.269091 1.04590909-2.269091 2.8911945 0 1.75664905.917283 2.87181818 2.259197 2.87181818 1.154334 0 1.973086-.77958773 2.022558-1.97349894z">
          </path>
          <path
            d="m132.042209 2.11036998c0-.50295983-.345475-.83854123-.848023-.83854123-.572632 0-.898731.3355814-.898731.84843552 0 .40442918.256427.81916491.760623 1.33243129.660856-.40484144.986131-.8290592.986131-1.34232558zm-2.545719 3.79940803c0 .73011628.532231 1.28295983 1.322125 1.28295983.57222 0 1.105275-.2766279 1.579377-.8191649l-1.677495-2.0229704c-.829059.47368921-1.224007.91769556-1.224007 1.55917547zm-.039164-3.75983086c0-.91769556.690951-1.58844609 1.697283-1.58844609 1.055391 0 1.697283.60190275 1.697283 1.50970401 0 .76928119-.434112 1.35180761-1.332431 1.87496829l1.332431 1.61812897c.167379-.30589852.256427-.69053912.285698-1.17412263h.839366c-.010307.68105709-.18758 1.30233616-.543362 1.865074l1.322537 1.59834038h-1.184429l-.690539-.85832981c-.57222.68064482-1.302336 1.02612051-2.180867 1.02612051-1.283372 0-2.121089-.88801269-2.121089-2.05265328 0-.93748414.533055-1.5686575 1.666776-2.20065539-.523161-.56232558-.788657-1.06569767-.788657-1.61812896z">
          </path>
          <path d="m138.083911 7.85359408h.967167v-7.09503171h-.967167z"></path>
          <path
            d="m141.370053 1.57731501v5.40805497h1.658118c1.411586 0 2.151184-.92758985 2.151184-2.7332981 0-1.73727273-.770106-2.67475687-2.151184-2.67475687zm-.966755-.81875264h2.703615c1.983806 0 3.059398 1.21369979 3.059398 3.44403805 0 2.32886892-1.164229 3.65099366-3.098975 3.65099366h-2.664038z">
          </path>
          <path
            d="m147.183774.75856237h5.062167v.87853065h-4.105307v2.12150106h3.789102v.82864693h-3.789102v2.37834039h4.184461v.88801268h-5.141321z">
          </path>
          <path
            d="m157.310169 4.90303383-1.09538-3.12824525-1.114757 3.12824525zm-1.628435-4.14447146h1.06611l2.644249 7.09503171h-1.045909l-.749905-2.12150106h-2.792252l-.760211 2.12150106h-.996438z">
          </path>
          <path
            d="m160.577347 5.51524313c.020201 1.0360148.74001 1.68738901 1.845697 1.68738901 1.124652 0 1.776026-.51326639 1.776026-1.29285413 0-.84884778-.661269-.96716702-1.944641-1.27306554-1.568657-.3747463-2.377516-.72022198-2.377516-1.96360465 0-1.24338266.977062-2.10171247 2.536237-2.10171247 1.56907 0 2.52593.85832981 2.536237 2.26909091h-.918108c-.06926-.94696618-.671163-1.47012685-1.677495-1.47012685-.967579 0-1.559587.46379492-1.559587 1.13495771 0 .90780127.66168.96675476 2.151596 1.32212474.690951.1677907 1.233076.28610994 1.628023.62169133.375571.31579281.582526.77958774.582526 1.35180761 0 1.35221988-1.026945 2.24023256-2.724228 2.24023256-1.716247 0-2.713097-.89790698-2.782769-2.52593023z">
          </path>
          <path
            d="m187.449006 51.5232875h1.825909v-5.5098837h3.126597v5.0708245h1.826321v-5.0708245h3.346744v5.4538161h1.825497l.001649-7.2797252h-11.952717z">
          </path>
          <path
            d="m187.380983 57.6000317v1.8254968h4.606617l7.399282 4.778943v-2.2435307l-5.461649-3.4522833 5.461649-3.432907v-2.2348731l-7.414535 4.7591543z">
          </path>
          <path
            d="m197.502431 26.4969133c0 .4040169-.061839.8195772-.193351 1.2536892l-.000824.0020613c-.114197.3743341-.308372.7123891-.599429 1.0257083-.269208.2902326-.662918.5565539-1.216174.7771142-.500898.2003594-1.200507.3232135-2.105423.3244503h-.021849c-.81463-.0012368-1.463119-.1207928-1.96443-.3281607-.533879-.2193235-.933773-.4992495-1.230602-.8269979-.316617-.3512473-.545835-.7408351-.693837-1.1885518-.157485-.4699788-.236639-.9589218-.236639-1.476723v-2.1816914h8.262558zm-10.087642-4.4445983v4.0104863c0 .7041437.110074 1.3938583.330222 2.0518287.225095.6806448.58871 1.3023362 1.070644 1.8345666.501311.5557294 1.146501.9857188 1.891047 1.2916174.782473.3219767 1.672135.4646194 2.66445.4646194 1.070645-.001649 1.995761-.136871 2.796374-.4534884.745783-.2968287 1.383964-.6991966 1.878267-1.2289535v-.0008245c.467917-.5013108.816279-1.0953805 1.010867-1.7418076.176036-.5833509.269619-1.1732981.271268-1.7582981v-4.4697463z">
          </path>
          <path
            d="m199.386882 9.66878436-7.414535 4.75832984h-4.591364v1.8254968h4.606617l7.399282 4.7797674v-2.2443551l-5.461649-3.4531079 5.461649-3.4324947z">
          </path>
          <path
            d="m199.400074 32.9096512h-11.970444v1.8254968h8.852093l-8.830243 5.9918182v1.8555919h11.893351v-1.8254968h-8.775412l8.830655-5.9934672z">
          </path>
          <path
            d="m188.008858 8.33387949c.272093.46090909.641893.86245243 1.080952 1.15639535.244883.1644926.519038.28940804.803911.36815011.285285.07956659.583351.11584566.885127.11584566.312907-.00123678.610148-.0305074.897082-.09853065.284873-.06843552.560677-.17809725.808859-.34011628l.000824-.00164905c.422981-.27250529.776702-.66209302 1.0187-1.10609937.228393-.41514799.397421-.87440803.521512-1.38066596.030919-.12491543.08204-.3442389.143879-.62375264.095233-.41638478.214789-.95521142.321564-1.42972516.106364-.47368922.198299-.88760042.233753-1.03848837.084514-.36443975.199535-.67734672.335994-.94531713l.001649-.00371036c.110486-.21767441.257664-.38175475.417209-.49595137l.004535-.00247357.004123-.00412262c.016078-.01030656.05112-.03133193.086575-.04864694.037928-.01690275.07833-.03298097.126152-.04534884.100592-.02762156.228805-.04617336.396596-.04699788h.004123c.171089.00082452.306723.02020084.41927.05029598.10389.02844609.198711.07379493.263848.11831924v.00082452l.003298.00247358c.195412.13233615.357019.31002114.476163.52975687v.00164905c.140581.25560253.246533.55490486.31167.90367864.072146.37680762.107601.74825582.107601 1.11640592v.00742072c0 .46668076-.046998.88017971-.132337 1.24544398-.080803.34382664-.205306.62375264-.364027.85173361l-.001649.0032981c-.140994.20365751-.332696.3747463-.583351.5087315-.143467.0762685-.32074.13975687-.541712.18263214l-.002886 1.84734672c.505021-.06019028.975412-.19293869 1.400454-.4172093.491004-.25807611.919345-.63199789 1.231015-1.08466174.301776-.43658562.513679-.93707188.638594-1.47507399.123267-.52233615.181395-1.07724102.181395-1.66471459 0-.48605708-.04741-.97211416-.137695-1.45940803-.096469-.51450318-.263023-.99891121-.50296-1.44003172-.251068-.46503171-.616744-.87234672-1.054567-1.16752642-.24612-.16902749-.524397-.2931184-.812568-.37103594-.290645-.08121565-.592009-.11584567-.901205-.11584567-.302601 0-.595719.0338055-.881005.11172304-.279513.0762685-.553668.19994715-.794429.37186047-.413911.29270613-.754027.69672304-.987368 1.15433404-.214376.41803382-.377219.87564482-.491004 1.36706131-.026385.11378435-.075444.33104651-.136459.60602537-.093583.41308668-.212315.95026427-.319915 1.42477801-.053594.23787527-.10389.45926004-.144704.64189218-.041226.18180761-.074619.32609936-.093171.39742072-.092759.38051797-.211491.68971459-.347125.93459831l-.000825.00164904v.00164905c-.055655.0981184-.116257.18593024-.186754.26137421-.070497.0762685-.14759.13934461-.224683.19046512l-.001649.00164905-.002062.00164904c-.048234.03091967-.126976.06678647-.240761.09564482-.117494.02844609-.268382.04699789-.461321.04741015h-.008245c-.157484 0-.286522-.01813953-.39536-.04947146-.102241-.02803382-.199535-.07255814-.273329-.12326638l-.003299-.00206131c-.202833-.13687104-.381754-.32362579-.528107-.57015856l.002473.00247357-.002473-.00494715c-.157485-.26508456-.277453-.57180761-.354134-.93212473-.08204-.3846406-.122441-.77340381-.122441-1.16752643v-.00164905c0-.54418605.05648-1.02900634.162843-1.45940803.102241-.41226216.255603-.74001057.451015-1.00385835l.002061-.00082453v-.00082452c.180571-.24570825.416797-.44029599.717336-.58005286.20943-.09894291.475751-.16943974.814218-.19458773v-1.82961945c-.571395.02844608-1.106099.14429175-1.592156.37227272-.556554.25807611-1.047971.65632136-1.409937 1.14815011-.35537.48028541-.605201 1.04013742-.75444 1.65193446-.147177.5936575-.216025 1.22812896-.216025 1.89846723v.00082452c0 .51986258.053594 1.03683933.161607 1.54639535.112547.53305497.3026 1.03436575.570158 1.48538055">
          </path>
          <path d="m124.666839 18.7653488 4.659799.0041227 4.004715-3.9544186h-12.616459v12.6399577l3.951945-4.000592z">
          </path>
          <path
            d="m93.0434461 45.2033087-13.1198309-30.3973256h-12.0471247l21.2735518 49.487537h7.9632558l20.7371989-49.487537h-12.069387z">
          </path>
          <path d="m53.3261099 64.2935201h11.2246618v-49.4933087h-11.2246618z"></path>
          <path
            d="m25.1681924 45.20537-13.1214799-30.402685h-12.0467125l21.2698414 49.4908351h7.9657294l20.7425582-49.4908351h-12.0739218z">
          </path>
          <path
            d="m180.443848 61.8422093h-.410201v-2.8141015h-.016078l-1.128774 2.8141015h-.231279l-1.129186-2.8141015h-.016078v2.8141015h-.409789v-3.1851374h.658383l1.028181 2.5832347.996438-2.5832347h.658383zm-3.904535-2.8363636h-1.036839v2.8363636h-.408964v-2.8363636h-1.036015v-.3487738h2.481818zm-5.499165-13.5366279-.042875.136871c-.611797 1.7121247-1.419007 3.1138161-2.469863 4.3423573-1.048795 1.221945-2.27981 2.1557188-3.878974 2.9192283-1.430138.6723996-3.166998 1.06611-5.402696 1.0714694-2.241469-.0053594-3.925148-.3990698-5.272008-1.0529176-1.510529-.737537-2.598489-1.6218393-3.538859-2.8062685-.987368-1.2755391-1.753351-2.7365962-2.300835-4.535296-.56315-1.833742-.843901-3.7379809-.84555-5.8009408.001649-1.8440486.259726-3.6711945.782886-5.5358562.504609-1.753351 1.233489-3.2354334 2.227453-4.5806448.92594-1.2268922 2.057188-2.2142601 3.642748-3.0767125 1.326247-.7074419 2.999207-1.1423784 5.305814-1.1452643 4.353076.0639007 6.955275 1.1745349 9.283319 3.4959831 2.09388 2.1652009 3.404873 5.4241332 3.431258 10.8536258-.000824 2.0576004-.308372 3.9292706-.921818 5.7143658zm.58871-44.81372097v17.05404867c-3.611828-2.1775688-7.895232-3.1723573-12.506384-3.1674102h-.155836c-3.498044.0082452-6.822114.6897146-9.802357 2.1491226-2.851617 1.3868499-5.330549 3.3174736-7.305285 5.728795-1.92444 2.3544291-3.370243 5.0782452-4.338647 8.0580761-.965106 2.9637526-1.440032 6.0730338-1.440032 9.2726004 0 3.3760148.48482 6.6060888 1.497336 9.6176638 1.011279 3.0091015 2.532939 5.728795 4.567865 8.0312791 2.027505 2.3041332 4.533647 4.1246829 7.367125 5.3977484 2.754323 1.2285412 5.770845 1.8489958 8.938256 1.9190804l.023086.0086575h.699609c4.567865-.0049472 8.835603-1.0570402 12.455264-3.2947992v2.8062685h11.209408v-63.58113107z">
          </path>
          <path
            d="m129.37982 60.3522939-4.660211-.0041227-4.004715 3.9540064h12.616459v-12.6399577l-3.951533 4.0005919z">
          </path>
        </g>
      </svg>

      <div class="absolute pin-b pin-l py-4 px-2 md:py-6 md:px-4">
        <h1 class="glitch mx-4 text-white font-normal text-2xl lg:text-3xl inline relative"
          data-text="Vivid Sydney 2018">Vivid Sydney 2018</h1>
        <p class="mx-4 text-white font-semibold uppercase opacity-50 text-sm md:text-base">Case Study</p>
      </div>

    </a>


    <a href="/work/hudl" id="hudl" class="h-64 md:h-80 px-3 bn my-12 md:my-10 relative flex justify-center items-center no-underline rounded overflow-hidden shadow-none max-w-md" style="background-color: #FF6300;">

      <svg class="absolute pin-t pin-l pin-r w-full max-h-full" viewBox="0 0 600 203"
        xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd" transform="">
          <path
            d="m213.669152 103.027752-22.819865 10.631435-190.849287 88.91173v-93.542549l213.669152-48.7375206 96.630937-22.0408474 22.699911 9.1847669z"
            fill="#ff5900"></path>
          <path
            d="m437.261566 89.1136331-104.261566-42.2350669 60.476332-28.2074619 43.785234-9.99849807 37.977203-8.67260623h124.761231v155.037249l-121.008211-49.018634-41.729848-16.9047962z"
            fill="#ff6c00"></path>
          <path
            d="m213.806832 0h3.750996l92.942172 37.672066-96.693168 22.0931967-213.806832 48.8536483v-108.61853965h213.806757z"
            fill="#ff5000"></path>
          <path
            d="m437.52867 8.6245562-43.77867 9.942779 40.026268-18.5673352h3.752627l37.971105.00018464-37.97133 8.62450506z"
            fill="#ff6000"></path>
          <path d="m393.511053 18.8650239 39.988947-18.8650239h-216l92.895889 38.0630372z" fill="#ff5800"></path>
        </g>
      </svg>

      <svg class="absolute pin-b pin-l pin-r w-full max-h-full" viewBox="0 0 601 151"
        xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd" transform="">
          <path
            d="m141.86789 43.5585586 177.63211 54.5390991-173.878991 51.8118923h-3.753119l-141.86789.00036v-149.90991l141.86789 43.5589189z"
            fill="#ff5c00"></path>
          <path d="m600.5 150.495495h-111.949726l-168.550274-51.8126121 172.298918-51.4025225 108.201082-32.2803604z"
            fill="#ff5900"></path>
          <path d="m146 149.891892h342l-168.440962-51.891892z" fill="#ff5200"></path>
        </g>
      </svg>

      <svg class="work-logo z-10 fill-current text-white w-1/3 sm:w-1/4 md:w-1/4 -mt-4 md:-mt-2" viewBox="0 0 120 120"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="m329.202793 177.452091c-.098792 0-.195136-.038374-.266985-.108182-.103691-.100425-.142882-.249839-.099201-.389455 2.175886-7.039582 2.895194-14.316755 2.139961-21.628221-.015104-.134309-.097976-.251472-.220854-.308624-7.227369-3.358131-11.909401-10.663473-11.927364-18.61015-.007756-2.715979.505802-5.354393 1.526794-7.843394.051438-.125736.033067-.27025-.051029-.378841-1.201023-1.572924-2.530232-3.131969-3.949253-4.631003-7.842985-8.288368-18.372149-14.007314-29.649605-16.102778-.178806-.033883-.307808-.184113-.313931-.365777-.005716-.178806.11553-.340875.288213-.385373 4.404433-1.128358 8.885206-1.700293 13.321073-1.700293 12.185776 0 23.689802 3.994975 33.268597 11.554238.0694.053887.153496.082463.238817.082463.037557 0 .076748-.005307.112672-.017145 1.792963-.551116 3.778203-.844636 5.743848-.849126 11.347672 0 20.605188 9.211793 20.635397 20.534154.013472 5.658119-2.35755 11.138248-6.505204 15.036472-.091444.084913-.135125.208607-.118388.331077.327404 2.420826.49233 4.84206.49233 7.196752 0 .224121-.015105.444975-.029801.665829l-.027352.421298c-.002857.089403-.032658.169417-.084096.23106-6.380284 7.919733-14.816433 13.881987-24.396862 17.243383zm-67.414079 19.165347c-.105324 0-.202892-.040415-.274741-.114713-9.920079-10.123379-15.382654-23.488542-15.382654-37.63384 0-2.363673.166559-4.784499.493963-7.194302.016329-.123287-.026944-.24739-.118796-.331894-4.147246-3.89904-6.519901-9.379986-6.506429-15.037696.029801-11.32277 9.263639-20.534563 20.584368-20.534563 1.972993.00449 3.926799.286171 5.805083.837695l.108182.015921c.085729 0 .169825-.028576.238816-.083279 2.341221-1.854606 4.802053-3.497339 7.315956-4.882067.05552-.030618.120021-.046947.18493-.046947 10.123788 1.579456 19.516428 5.920613 27.218573 12.558085.11104.095118.157579.242491.122879.382923-.035925.142474-.146964.251472-.289846.283722-7.299219 1.657021-14.050587 4.731429-20.069177 9.138312-.109815.080013-.169825.213098-.156353.349039.075115.739312.111448 1.421062.109815 2.083625-.026944 10.171143-7.641727 18.904486-17.71326 20.314525-.136759.018779-.252289.108999-.303318.235143-.722165 1.769693-1.365133 3.601029-1.910125 5.442571-3.24505 10.929641-2.92377 22.899869.905462 33.704999.06001.17105-.006124.358021-.160844.45518-.06001.037558-.130635.057561-.202484.057561zm38.41479 28.230585c-7.368618 0-14.219187-3.966399-17.879819-10.35199-.967105-1.684372-1.692537-3.509585-2.155065-5.425426-.029802-.120837-.115531-.220038-.229836-.266576-2.737207-1.103864-5.371131-2.42001-7.827881-3.911696-.072257-.043681-.129002-.111039-.159211-.190645-3.652059-9.474696-4.587322-19.748713-2.709039-29.71084.026943-.14329.130635-.257595.270251-.29801l.076748-.002858c.162068 0 .247797.042865.310665.110223 5.081693 5.47523 11.109264 9.77189 17.916153 12.771591.049396.021637.102058.032251.15472.032251.079606 0 .157578-.024086.223712-.072258.606635-.434769 1.180204-.805445 1.750914-1.133665 3.108292-1.782348 6.635839-2.724551 10.198903-2.724551 6.294963 0 12.364582 2.956428 16.234229 7.908303.073482.093893.186155.14778.303318.14778l.052662-.003674c1.875425-.255962 3.782693-.6148 5.668733-1.06549 11.10314-2.656376 21.320005-8.928479 28.768228-17.660598.071849-.085729.180031-.134308.292704-.134308.063276 0 .124511.015512.183297.045722.157578.084912.235551.266576.187787.4413-4.429744 15.879066-16.172586 29.100939-31.412766 35.368143-.11553.047355-.199626.146964-.228203.267393-1.30798 5.534832-4.869819 10.320556-9.771073 13.13002-3.117272 1.786431-6.650943 2.729859-10.220131 2.729859z"
          fill-rule="evenodd" transform="translate(-240 -105)"></path>
      </svg>

      <div class="absolute pin-b pin-l py-4 px-2 md:py-6 md:px-4">
        <h1 class="glitch mx-4 text-white font-normal text-2xl lg:text-3xl inline relative" data-text="Hudl">Hudl</h1>
        <p class="mx-4 text-white font-semibold uppercase opacity-50 text-sm md:text-base">Design Challenge</p>
      </div>

    </a>


    <a id="sweep" class="cursor-not-allowed opacity-25 h-64 md:h-80 px-3 bn my-12 md:my-10 relative flex justify-center items-center no-underline rounded overflow-hidden shadow-none max-w-md" style="background-image: linear-gradient(to bottom right, #5968EB 0%, #2C389E 100%)">

      <svg class="work-logo  fill-current text-white w-1/2 sm:w-1/3 md:w-1/3 -mt-6 md:-mt-4" viewBox="0 0 229 70"
        xmlns="http://www.w3.org/2000/svg">
        <g fill-rule="nonzero" transform="">
          <path
            d="m138.691567 18.2868217c-1.458774-1.248062-3.295748-2.251938-5.456895-2.9844961-2.161146-.7325582-4.646464-1.1124031-7.401926-1.1124031-2.944562 0-5.700023.4883721-8.212356 1.492248-2.512333.9767442-4.727508 2.3875969-6.591496 4.1511628-1.863989 1.7635659-3.322763 3.9341086-4.376322 6.4573644s-1.593845 5.3449612-1.593845 8.4108527c0 3.2558139.540286 6.1860465 1.593845 8.7093023s2.512333 4.6937985 4.349307 6.4302326c1.836975 1.7364341 3.998121 3.0930232 6.456425 3.9883721 2.485318.9224806 5.159737 1.3837209 7.996241 1.3837209 2.296218 0 4.457365-.1627907 6.375382-.5155039 1.918018-.3255814 3.61992-.7325581 5.05168-1.1937984 1.431759-.4612403 2.62039-.9224807 3.565891-1.383721.567301-.2713178 1.026545-.5155038 1.404745-.7325581l-3.727977-7.4612403c-.108057.0542636-.243129.1085271-.378201.1899225-.594315.2713178-1.37773.5426356-2.296218.8410852-.918487.2713179-1.99906.5155039-3.214705.75969-1.242659.244186-2.593375.3798449-3.998121.3798449-1.836974 0-3.430819-.1627907-4.754522-.4883721-1.323702-.3255814-2.458304-.7868217-3.349776-1.3565891-.891473-.5697675-1.593846-1.2209302-2.080104-1.8992248-.513272-.7054264-.837444-1.4379845-.972516-2.1976744l-.162086-.8953489h3.673949c4.592436 0 8.428471-.2984496 11.400047-.868217 2.917548-.5697675 5.24078-1.3565892 6.915668-2.3875969 1.62086-1.003876 2.755462-2.1976744 3.349777-3.6085272.648344-1.4379845.945502-3.120155.945502-4.9379845 0-1.6550387-.378201-3.3100775-1.134602-4.8837209-.783416-1.627907-1.918017-3.0387597-3.376791-4.2868217zm-6.537468 10.9341085c-.297157.7325582-.99953 1.3294574-2.134132 1.8449613-1.026544.4612403-2.512333.8139535-4.538407 1.0852713-1.972046.2713178-4.754522.4069767-8.293399.4069767h-.81043l.027014-.8139535c.054029-1.1124031.270143-2.2519379.675358-3.3372093.405215-1.1124031.999531-2.116279 1.755932-2.9844961.783415-.868217 1.728917-1.5736434 2.890533-2.116279 1.161616-.5426357 2.512333-.8139535 4.025135-.8139535 2.161146 0 3.836035.4612403 4.970637 1.4108527 1.18863.9767442 1.782945 2.1434108 1.782945 3.4728682.027015.5968992-.108057 1.2209302-.351186 1.8449612z">
          </path>
          <path
            d="m178.969932 18.2868217c-1.458774-1.248062-3.295748-2.251938-5.456895-2.9844961-2.161146-.7325582-4.646464-1.1124031-7.401926-1.1124031-2.944562 0-5.700023.4883721-8.212356 1.492248-2.512333.9767442-4.727508 2.3875969-6.591496 4.1511628-1.863989 1.7635659-3.322763 3.9341086-4.376322 6.4573644s-1.593845 5.3449612-1.593845 8.4108527c0 3.2558139.540286 6.1860465 1.593845 8.7093023s2.512333 4.6937985 4.349307 6.4302326c1.836975 1.7364341 3.998121 3.0658914 6.456425 3.9883721 2.485318.9224806 5.159737 1.3837209 7.996242 1.3837209 2.296217 0 4.457364-.1627907 6.375381-.5155039 1.918018-.3255814 3.61992-.7325581 5.05168-1.1937984 1.431759-.4612403 2.62039-.9224807 3.565891-1.383721.567301-.2713178 1.026545-.5155038 1.404745-.7325581l-3.727977-7.4612403c-.108057.0542636-.243129.1085271-.378201.1899225-.594315.2713178-1.37773.5426356-2.296218.8410852-.918487.2713179-1.99906.5155039-3.214705.75969-1.242659.244186-2.593375.3798449-3.998121.3798449-1.836974 0-3.430819-.1627907-4.754522-.4883721-1.323702-.3255814-2.458304-.7868217-3.349776-1.3565891-.891473-.5697675-1.593846-1.2209302-2.080104-1.8992248-.513272-.7054264-.837444-1.4379845-.972516-2.1976744l-.162086-.8953489h3.673949c4.592436 0 8.428471-.2984496 11.400047-.868217 2.917548-.5697675 5.24078-1.3565892 6.915669-2.3875969 1.620859-1.003876 2.755461-2.1976744 3.349776-3.6085272.648344-1.4379845.945502-3.120155.945502-4.9379845 0-1.6550387-.378201-3.3100775-1.134602-4.8837209-.783416-1.627907-1.918017-3.0387597-3.376791-4.2868217zm-6.159267 10.9341085c-.297158.7325582-.99953 1.3294574-2.134132 1.8449613-1.026545.4612403-2.512333.8139535-4.538408 1.0852713-1.972046.2713178-4.754522.4069767-8.293399.4069767h-.81043l.027015-.8139535c.054028-1.1124031.270143-2.2519379.675358-3.3372093.405215-1.1124031.99953-2.116279 1.755931-2.9844961.783416-.868217 1.755932-1.5736434 2.890534-2.116279 1.161616-.5426357 2.512332-.8139535 4.025135-.8139535 2.161146 0 3.836035.4612403 4.970636 1.4108527 1.188631.9767442 1.782946 2.1434108 1.782946 3.4728682 0 .5968992-.108057 1.2209302-.351186 1.8449612z">
          </path>
          <path
            d="m38.144233 28.2170543c-1.2966878-1.1937985-2.9445619-2.2248062-4.8895936-3.0658915-1.972046-.8410853-4.268264-1.5736434-6.888654-2.1162791l-7.5640122-1.6550387c-1.4587738-.3255814-2.6474043-.6782946-3.5118628-1.0310078-.9184872-.379845-1.6208598-.7868217-2.134132-1.248062-.5673009-.4883721-.9184872-1.0310078-1.0805732-1.6007752-.1350716-.4883721-.2161146-1.003876-.2161146-1.5465116 0-.5968993.081043-1.248062.2701433-1.9263566.2161146-.7868217.6483439-1.4651163 1.2966878-2.0620155.6483439-.5697675 1.5398168-1.0581396 2.7554616-1.4379845 1.1886305-.379845 2.7014329-.54263568 4.6464646-.54263568 1.9990604 0 3.8900634.18992248 5.6459949.56976748 1.7559314.3798449 3.3227625.8410852 4.6734789 1.3837209 1.3777308.5426357 2.5933756 1.1666667 3.5658915 1.872093.7023726.4883721 1.2696735.9224806 1.7289171 1.3565892.1891003-.1899225.4052149-.379845.6213296-.624031.4322292-.4612404.8374442-1.003876 1.2156448-1.627907.3782006-.6511628.7023725-1.3565892.9725158-2.1162791.243129-.7325581.3782006-1.51937983.3782006-2.30620154 0-1.08527132-.2971576-2.00775194-.9455015-2.79457364-.6753582-.84108527-1.4047451-1.51937985-2.134132-2.00775194-.3782006-.24418605-.9455015-.56976744-1.7559314-.97674419-.7834156-.40697674-1.8369744-.81395348-3.1336622-1.22093023-1.2966878-.40697674-2.8635189-.75968992-4.673479-1.03100775s-3.9440921-.43410853-6.3753817-.43410853c-3.3227625 0-6.2403101.46124031-8.6715997 1.32945737-2.43128967.89534883-4.45736437 2.08914728-6.0512098 3.58139535-1.56683111 1.49224806-2.7554616 3.28294573-3.51186282 5.2906977-.78341555 2.0348837-1.16161616 4.2596899-1.16161616 6.5658914 0 2.6589148.4592436 4.9108528 1.35071647 6.7015504.89147287 1.7906977 2.05308903 3.2829458 3.45783415 4.4224807 1.43175946 1.1395348 3.05261922 2.0620155 4.86257926 2.7131782 1.8639887.6782946 3.7279775 1.1937985 5.5919662 1.5465117l7.2668546 1.4108527c2.6744186.5155039 4.4843787 1.1937984 5.5379375 2.1162791 1.1075875.9767441 1.6478741 2.2248062 1.6478741 3.7170542 0 .7054264-.1080573 1.4108527-.324172 2.0891473-.2431289.7596899-.7293869 1.4379845-1.4857881 2.0077519-.7023725.5426357-1.6748884.9496124-2.9175475 1.2751938-1.1886305.2984497-2.782476.4612404-4.754522.4612404-2.377261 0-4.6194503-.2441861-6.645525-.6782946-2.0260747-.4612403-3.8360348-.9767442-5.37585156-1.5193799-1.53981677-.5697674-2.86351891-1.1395348-3.89006343-1.7093023-.54028658-.2984496-.94550152-.5426356-1.24265914-.7325581l-4.26826404 9.0620155c.29715762.1899225.78341555.4883721 1.59384543.9767442 1.16161616.6511628 2.72844726 1.3837209 4.64646465 2.116279 1.89100305.75969 4.16020669 1.4108527 6.69955369 1.9806202 2.5123326.5697674 5.3218229.8410853 8.3474277.8410853 6.5914964 0 11.724219-1.5193799 15.2901105-4.4767442 3.5388771-2.9302326 5.3218228-7.1085272 5.3218228-12.3720931 0-2.3604651-.3241719-4.4224806-.9725158-6.1317829-.5673009-1.7635659-1.5398168-3.2015504-2.8094903-4.3953488z">
          </path>
          <path
            d="m104.977684 16.9302326c-.297158-.2170543-.729387-.4341086-1.323702-.6782946-.594316-.2441861-1.296688-.4883721-2.107118-.6782946-.783416-.1899225-1.6748884-.2984496-2.6474043-.2984496-2.0801033 0-3.6199201.4883721-4.5654216 1.4651163-.9995302 1.0310077-1.8369744 2.7131783-2.4853183 5.0193798-.4592436 1.7364341-.9725159 3.5-1.4587738 5.2364341-.486258 1.7364341-.9995302 3.4186047-1.4587738 4.9922481s-.9184872 3.0387597-1.3507165 4.368217c-.4322292 1.3294574-.7834155 2.4689923-1.1075875 3.4186047l-.7834155 2.3604651-.6753583-2.4147287c-.3241719-1.1124031-.7293869-2.5232558-1.2156448-4.2325581s-1.0535588-3.6085271-1.6208597-5.6705426c-.567301-2.0620155-1.1886305-4.25969-1.8639888-6.5930233-.6213295-2.2248062-1.2696735-4.4767442-1.9180174-6.755814-.2701432-.1085271-.7564012-.2984496-1.728917-.6511627-1.0805732-.3527132-2.2692037-.5426357-3.5388772-.5426357-2.0260747 0-3.4038055.4069767-4.106178 1.1666667-.7834156.868217-1.4047452 2.0348837-1.8369744 3.5-.2701433.9224806-.6483439 2.3333333-1.1886305 4.1511628-.5132723 1.8178294-1.0535589 3.744186-1.6208598 5.7248062-.5402866 1.9806201-1.0805732 3.9341085-1.6208597 5.7519379-.5132723 1.8178295-.9455016 3.2286822-1.2696735 4.1782946l-.7293869 2.1976744-.7293869-2.1976744c-.3782006-1.1124031-.8104299-2.5503876-1.3507165-4.2868217-.5132722-1.7364341-1.1075875-3.6627907-1.7289171-5.7790698-.6213295-2.116279-1.2696734-4.368217-1.9450317-6.7015503-.6213295-2.1976745-1.2696734-4.4767442-1.9180173-6.7286822-.2701433-.1085271-.7293869-.2984496-1.4857882-.5426357-.8644585-.2984496-2.1071176-.4341085-3.7009631-.4341085-1.8639887 0-3.2417195.4883721-4.1331924 1.4108527-.8914728.9767442-1.3237021 2.0620155-1.3237021 3.3372093 0 1.3837209.2161146 2.6860465.6213296 3.8527132.4592436 1.2751938.8104298 2.251938 1.0535588 3.0116279.2161146.624031.6753582 1.8992248 1.3777308 3.7713178.7023726 1.8720931 1.5668311 4.124031 2.5663613 6.6744186s2.1071177 5.3449613 3.3497768 8.3294574c1.1616162 2.8217054 2.377261 5.6434109 3.5929058 8.3837209h11.1569181c.2431289-.7868217.5943152-1.872093.9995301-3.2829457.5132723-1.7635659 1.0805732-3.6899225 1.7019028-5.7790698.5943152-2.0891473 1.2156448-4.1782945 1.8099601-6.2945736.5943152-2.1162791 1.1616161-3.9341085 1.6208597-5.3992248l.7293869-2.2790698.7293869 2.2790698c.4592436 1.4651163 1.0265445 3.2558139 1.6208598 5.3178294.5943152 2.0620155 1.2156448 4.124031 1.80996 6.2131783.5943153 2.0891473 1.1616162 4.0155039 1.7019028 5.8062016.4322292 1.4379845.7834155 2.5775194 1.0535588 3.3914728h11.1028894c1.2966878-2.7674418 2.6744186-5.9689922 4.106178-9.5232558 1.5128025-3.744186 2.9715763-7.4883721 4.3763214-11.124031 1.3777307-3.6356589 2.6203897-7.0271318 3.6469347-10.0658914.918487-2.6860466 1.593845-4.7751938 1.972046-6.2674419 0 .0271318-.081043-.0271318-.162086-.1085271z">
          </path>
          <path
            d="m226.515152 26.2906977c-1.053559-2.5232558-2.539347-4.6937985-4.376322-6.4573644-1.863989-1.7635659-4.106178-3.1744186-6.645525-4.1511628-2.539347-.9767441-5.348837-1.492248-8.347428-1.492248-3.646934 0-7.023725.6782946-9.995301 1.9806201-2.971577 1.3023256-5.429881 3.255814-7.347898 5.7790698-1.188631 1.6007752-2.134132 3.6085271-2.782476 5.996124s-.99953 5.2906977-.99953 8.5736434v33.3992249h11.048861v-20.1589148l1.323702 1.3294574c.891473.8953488 2.242189 1.7635659 4.079163 2.6589147 1.80996.8682171 4.133193 1.3023256 6.942683 1.3023256 2.566361 0 4.997651-.4883721 7.266855-1.4379845 2.242189-.9496124 4.241249-2.3333333 5.916138-4.0968992 1.674888-1.7635659 3.025605-3.9069768 4.025135-6.4031008.972516-2.4689922 1.485788-5.3178295 1.485788-8.4108527 0-3.0658915-.540287-5.8875969-1.593845-8.4108527zm-11.886305 15.8449612c-1.836975 1.9806202-4.214236 2.9844961-7.05074 2.9844961-1.404745 0-2.728448-.2713178-3.944092-.8139534-1.188631-.5426357-2.24219-1.3023256-3.106648-2.2248063-.891473-.9496124-1.566831-2.0620155-2.053089-3.3372093s-.729387-2.6589147-.729387-4.0968992c0-3.1472868.945501-5.6705426 2.782476-7.5155039 1.836974-1.8178294 4.214235-2.74031 7.023725-2.74031 2.836505 0 5.186752.9496124 7.05074 2.8488372 1.836975 1.872093 2.782476 4.368217 2.782476 7.4341085.027015 2.9844961-.918487 5.5077519-2.755461 7.4612403z">
          </path>
        </g>
      </svg>

      <div class="absolute pin-b pin-l py-4 px-2 md:py-6 md:px-4">
        <h1 class="glitch mx-4 text-white font-normal text-2xl lg:text-3xl inline relative" data-text="Sweep App">Sweep
          App</h1>
        <p class="mx-4 text-white font-semibold uppercase opacity-50 text-sm md:text-base">Coming Soon</p>
      </div>

    </a>


  </section>

</div>