{% if page.book-title != nil %}
<div class="book-card">
    <a href="{{ page.book-url }}" class="border rounded p-4 md:p-5 my-6 lg:my-12 button shadow-none max-w-md flex items-start" target="_blank">
        <img class="mr-5 h-auto flex" src="{{ page.book-cover }}" alt="{{ page.book-title }}">
        <div class="book-details flex flex-wrap items-strt">
            <span class="book-details_title font-semibold w-full flex md:mt-1 text-lg md:text-xl">{{ page.book-title }}</span>
            <span class="flex text-base md:text-lg md:mb-1 text-03 w-full">{{ page.book-author }}</span>
            <div class="w-full rating my-1 hidden rating-{{ page.book-rating }}">
                <ul class="list-reset">
                    <li>
                        <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" transform="">
                                <path class="star-base"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z" />
                                <path class="star-half"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z" />
                            </g>
                        </svg>
                    </li>
                    <li>
                        <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" transform="">
                                <path class="star-base"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z" />
                                <path class="star-half"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z" />
                            </g>
                        </svg>
                    </li>
                    <li>
                        <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" transform="">
                                <path class="star-base"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z" />
                                <path class="star-half"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z" />
                            </g>
                        </svg>
                    </li>
                    <li>
                        <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" transform="">
                                <path class="star-base"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z" />
                                <path class="star-half"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z" />
                            </g>
                        </svg>
                    </li>
                    <li>
                        <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" transform="">
                                <path class="star-base"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z" />
                                <path class="star-half"
                                    d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z" />
                            </g>
                        </svg>
                    </li>
                </ul>
            </div>
            <button class="ic_external my-2 md:mt-3 fill-current rounded text-white bg-primary py-1 pl-2 pr-3 flex items-center">
                <svg class="mr-2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m13.8786797 8h-6.3786797c-.82842712 0-1.5-.67157288-1.5-1.5s.67157288-1.5 1.5-1.5h10c.8284271 0 1.5.67157288 1.5 1.5v10c0 .8284271-.6715729 1.5-1.5 1.5s-1.5-.6715729-1.5-1.5v-6.3786797l-8.95020426 8.9502043c-.58578644.5857864-1.53553391.5857864-2.12132035 0-.58578643-.5857864-.58578643-1.5355339 0-2.1213203z" /></svg>
                <span class="label text-base md:text-lg leading-tight">{{ page.book-url-label }}</span>
            </button>
        </div>
    </a>
</div>
{% endif %}