<footer class="container mx-auto mt-10 mb-16 md:mb-24">
    <nav class="flex justify-center">
        <a href="https://twitter.com/BrodyMaclean" class="text-02 hover:text-primary-01 p-4 mx-2 relative">
            <svg class="h-4 w-4 inline-block fill-current" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path data-v-0381b410="" d="M32.1 3.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6C25.8.8 24.1 0 22.3 0c-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.6-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1C3 24.9 6.5 26 10.2 26c12.1 0 18.7-10 18.7-18.7v-.8c1.2-1 2.3-2.1 3.2-3.4z"></path>
            </svg>
        </a>
        <a href="https://instagram.com/Brody" class="text-02 hover:text-primary-01 p-4 mx-2 relative">
            <svg class="h-4 w-4 inline-block fill-current" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                <path d="M11.233 0A4.772 4.772 0 0 1 16 4.766v6.467A4.772 4.772 0 0 1 11.234 16H4.767A4.772 4.772 0 0 1 0 11.234V4.767A4.772 4.772 0 0 1 4.766 0h6.467zm3.158 11.233V4.767a3.158 3.158 0 0 0-3.157-3.158H4.767a3.158 3.158 0 0 0-3.158 3.157v6.467a3.158 3.158 0 0 0 3.157 3.158h6.467a3.158 3.158 0 0 0 3.158-3.158zM8 3.862A4.144 4.144 0 0 1 12.139 8 4.143 4.143 0 0 1 8 12.138 4.143 4.143 0 0 1 3.863 8 4.143 4.143 0 0 1 8 3.862zm0 6.667a2.528 2.528 0 1 0 0-5.057 2.528 2.528 0 0 0 0 5.057zm4.146-5.644a.991.991 0 1 1 0-1.983.991.991 0 0 1 0 1.983z" />
            </svg>
        </a>
        <a href="https://www.linkedin.com/in/brodymaclean/" class="text-02 hover:text-primary-01 p-4 mx-2 relative">
            <svg class="h-4 w-4 inline-block fill-current" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 9.374v5.915h-3.43v-5.52c0-1.386-.496-2.332-1.737-2.332-.947 0-1.511.638-1.76 1.254-.09.22-.113.528-.113.837v5.76H5.529s.046-9.346 0-10.315H8.96v1.462l-.022.033h.022v-.033c.455-.702 1.269-1.704 3.091-1.704C14.308 4.73 16 6.206 16 9.373zM1.94 0C.769 0 0 .77 0 1.782c0 .99.746 1.783 1.896 1.783h.022c1.197 0 1.94-.793 1.94-1.783C3.838.77 3.116 0 1.942 0H1.94zM.205 15.289h3.429V4.973H.203v10.316z" />
            </svg>
        </a>
        <a href="https://codepen.io/Brody" class="text-02 hover:text-primary-01 p-4 mx-2 hidden md:block relative">
            <svg class="h-4 w-4 inline-block fill-current" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path data-v-0381b410="" d="M31.9 10.925v-.2-.2-.2-.1s0-.1-.1-.1v-.1s0-.1-.1-.1l-.1-.1s-.1 0-.1-.1h-.1L16.7.225c-.5-.3-1.1-.3-1.5 0l-14.7 9.8H.4s-.1 0-.1.1l-.1.1-.1.1v.1s0 .1-.1.1V22.025s0 .1.1.1v.1s0 .1.1.1l.1.1s.1 0 .1.1h.1l14.6 9.8c.2.2.5.2.8.2.3 0 .5-.1.8-.2l14.6-10.3h.1s.1 0 .1-.1l.1-.1.1-.1v-.1s0-.1.1-.1v-.2-.2-.2-.1V10.925c.1.2.1.1.1 0zm-14.6-7l10.8 7.2-4.8 3.2-6-4v-6.4zm-2.8 0v6.4l-6 4-4.8-3.2 10.8-7.2zm-11.8 9.8l3.4 2.3-3.4 2.3v-4.6zm11.8 14.4l-10.7-7.2 4.8-3.2 6 4v6.4h-.1zm1.4-8.8l-4.9-3.3 4.9-3.3 4.9 3.3-4.9 3.3zm1.4 8.8v-6.4l6-4 4.8 3.2-10.8 7.2zm11.8-9.8l-3.4-2.3 3.4-2.3v4.6z"></path>
            </svg>
        </a>
        <a href="https://github.com/brody" class="text-02 hover:text-primary-01 p-4 mx-2 relative">
            <svg class="h-4 w-4 inline-block fill-current" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path data-v-0381b410="" fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.2 0 0 7.2 0 16c0 7.1 4.6 13.1 10.9 15.2.8.1 1.1-.3 1.1-.8v-2.7c-4.5 1-5.4-2.1-5.4-2.1-.7-1.8-1.8-2.3-1.8-2.3-1.5-1 .1-1 .1-1 1.6.1 2.5 1.6 2.5 1.6 1.4 2.4 3.7 1.7 4.7 1.3.1-1 .6-1.7 1-2.1-3.6-.4-7.3-1.8-7.3-7.9 0-1.7.6-3.2 1.6-4.3-.2-.4-.7-2 .2-4.2 0 0 1.3-.4 4.4 1.6 1.3-.4 2.6-.5 4-.5s2.7.2 4 .5c3.1-2.1 4.4-1.7 4.4-1.7.9 2.2.3 3.8.2 4.2 1 1.1 1.6 2.5 1.6 4.3 0 6.1-3.7 7.5-7.3 7.9.6.5 1.1 1.5 1.1 3v4.4c0 .4.3.9 1.1.8C27.4 29.1 32 23.1 32 16c0-8.8-7.2-16-16-16z"></path>
            </svg>
        </a>
        <a href="mailto:hello@brody.com" class="text-02 hover:text-primary-01 p-4 mx-2 relative">
            <svg class="h-4 w-4 inline-block fill-current" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.878 3.571l4.598 4.023a.808.808 0 0 0 1.064 0l4.598-4.023H2.878zm11.522 1L9.605 8.769a2.425 2.425 0 0 1-1.597.598 2.425 2.425 0 0 1-1.597-.598L1.6 4.557v6.872h12.8V4.572zM1.6 2h12.8c.424 0 .831.166 1.131.46.3.295.469.695.469 1.111v7.858c0 .416-.169.816-.469 1.11-.3.295-.707.461-1.131.461H1.6c-.424 0-.831-.166-1.131-.46A1.557 1.557 0 0 1 0 11.429V3.57c0-.416.169-.816.469-1.11C.769 2.165 1.176 2 1.6 2z" />
            </svg>
        </a>
    </nav>

</footer>

<div class="hidden lg:block font-mono uppercase font-semibold mx-auto mt-8 mb-16">
        <p class="text-02 text-center">👆 👆 👇 👇 👈 👉 👈 👉 🅱️ 🅰️</p>
</div>

<div id="peace" class="block lg:hidden uppercase font-semibold mx-auto mt-8 mb-40">
    <p class="text-02 text-center">✌️</p>
</div>