{% if page.source-url != nil %}
<div class="link-card">
  <a href="{{ page.source-url }}" class="border rounded p-4 md:p-5 my-6 lg:my-12 button shadow-none max-w-md flex flex-wrap" target="_blank">
    <h4 class="text-04 text-base leading-tight w-full uppercase font-semibold mb-0 lg:mb-0 glitch" data-text="Source:">Source:</h4>
    <span class="mt-2 mb-3 w-full text-lg lg:text-xl">{{ page.source-title }}</span>
    <button class="ic_external fill-current rounded text-white bg-primary py-1 pl-2 pr-3 flex items-center">
      <svg class="mr-2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m13.8786797 8h-6.3786797c-.82842712 0-1.5-.67157288-1.5-1.5s.67157288-1.5 1.5-1.5h10c.8284271 0 1.5.67157288 1.5 1.5v10c0 .8284271-.6715729 1.5-1.5 1.5s-1.5-.6715729-1.5-1.5v-6.3786797l-8.95020426 8.9502043c-.58578644.5857864-1.53553391.5857864-2.12132035 0-.58578643-.5857864-.58578643-1.5355339 0-2.1213203z"/></svg>
      <span class="label text-base md:text-lg leading-tight">{{ page.source-url-label }}</span>
    </button>
  </a>
</div>
{% endif %}