<div id="wip" class="md:container mx-auto max-w-xl mx-auto md:px-16 pointer-events-none">
    <div class="w-full bg-primary px-6 md:px-7 py-6 md:p-4 rounded-none md:rounded flex flex-wrap align-middle sm:container">
        <h4 class="text-white opacity-50 uppercase font-semibold mb-2 md:mb-1">Redesign in progress</h4>
        <blockquote class="text-white mr-2">
            "If you're not embarrassed by the first version of your product, you’ve launched too late"
        </blockquote>
        <p class="text-white opacity-75">— Reid Hoffman</p>
    </div>
</div>