<!DOCTYPE html>

<!-- 


 ******   *******     *******   *******   **    **      
/*////** /**////**   **/////** /**////** //**  **       
/*   /** /**   /**  **     //**/**    /** //****        
/******  /*******  /**      /**/**    /**  //**    **********
/*//// **/**///**  /**      /**/**    /**   /**   //////////
/*    /**/**  //** //**     ** /**    **    /**         
/******* /**   //** //*******  /*******     /**    Hi! 👋   
///////  //     //   ///////   ///////      //        


-->

<html class="antialiased font-sans leading-normal relative" lang="en">

{% include head.html %}

<body class="bg transition-background">

  {% include draw.html %}

  {{ content }}

  {% include script.html %}

</body>

</html>